marquee {
  font-family: 'comic sans ms';
  font-size: 50px;
  font-weight: bold;
  color: green;
  animation: flash linear 1s infinite;

}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}